<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <form name="numbers" method="post" target="_blank" action="/res">
          <input type="text" placeholder="How many dic to roll.." name="dices" /><br /><br />
          <hr />
          <label for="faces">Choose number of faces:</label>
          <select name="faces">
            <option value="6">d6</option>
            <option value="4">d4</option>
            <option value="8">d8</option>
          </select>
          <input type="submit" value="Submit">
        </form>
      </div>
    </main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
